apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ipfs-cluster-rpc
  annotations:
    kubernetes.io/ingress.global-static-ip-name: ${kubernetes_namespace}-ipfs-rpc-ip
    networking.gke.io/managed-certificates: ${kubernetes_namespace}-ipfs-rpc-certificate
    #kubernetes.io/ingress.allow-http: "false"
---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: ipfs-rpc-backendconfig
spec:
  securityPolicy:
    name: "${kubernetes_namespace}-ipfs-rpc-filter"
  healthCheck:
    checkIntervalSec: 15
    port: 9095
    type: HTTP
    requestPath: /version
---
apiVersion: networking.gke.io/v1beta2
kind: ManagedCertificate
metadata:
  name: ipfs-rpc-certificate
spec:
  domains:
  - ${rpc_public_hostname}
